@import "tailwindcss";
@plugin "daisyui" {
  themes: garden;
}

@plugin "daisyui/theme" {
  name: "garden";
  default: true;
  --color-primary: "#3442D9";
  --color-secondary: teal;
}

[data-theme="light"] {
  .my-btn {
    background-color: #1ea1f1;
    border-color: #1ea1f1;
  }
  .my-btn:hover {
    background-color: #1c96e1;
    border-color: #1c96e1;
  }
}
